body {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: #1664bd;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

main {
    display: block;
    background-color: rgb(81, 88, 88);
}

.container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    padding: 0 20;
}

section.module p{
    margin-bottom: 40px;
}

section.module:last-child{
    margin-bottom: 0;
}

section.module.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position:relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

section.module-parallax:after{
    content:"";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
}

section.module.parallax-1{
    background-image: url("https://static.wikia.nocookie.net/0196d6ef-c15f-4150-9bba-7ac470a2e1b6/scale-to-width/755");
}

section.module.parallax-2{
    background-image: url("https://i.pinimg.com/originals/0d/e6/ab/0de6ab8f727d481674a3db584bd6c3d2.gif");
}

section.module.parallax-3{
    background-image: url("https://media.tenor.com/_ZBd00lZsRkAAAAM/scrat-oh-well.gif");
}

section.module.parallax h1{
    color: rgba(78, 236, 228, 0.973);
    text-align: center;
    font-size: 37px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    z-index: 21;
    text-decoration: overline;
    text-transform: uppercase;
}
